## Q1. What is a database? Differentiate between SQL and NoSQL databases

A database is a structured set of data held in a computer and accessible in a various ways. SQL are relational databases that use Structured Query Lanquage to manage and manipulate data. NoSQL databases are non relational databases that do not use SQL and are designed for handling large-scale ,unstructured or semi-structured data.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage structure of a database.
Suppose we have a table named "Products" with columns "Name", "Price", and "Quantity". We can use the following SQL commands:

In [ ]:
CREATE TABLE Products (
  Nom VARCHAR(50),
  Prix DECIMAL(10,2),
  Quantit√© INT
);


#ALTER to add new column Description with a string datatype to Produits
ALTER TABLE Products
ADD COLUMN Description VARCHAR(200);

# TRUNCATE to delete all data from a table while keeping its structure intact.
TRUNCATE TABLE Products;

#DROP delete the table
DROP TABLE Products;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language,which is set of SQL commands used to manipulate data stored in a database. Suppose we have a table named "Students" with columns "Name", "Age", and "Grade". We can use DML commands as follows:

In [ ]:
# INSERT
INSERT INTO Students (Name, Age, Grade)
VALUES ('John', 20, 'A');

#UPDATE
UPDATE Students
SET Grade = 'B'
WHERE Name = 'John';

#DELETE
DELETE FROM Students
WHERE Name = 'John';

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database.Suppose we have a table named "Customers" with columns "Name", "Email", and "Phone". We can use the SELECT command as follows:

In [ ]:
# SELECT all column from the Customers
SELECT * FROM Customers;

#Retrieve specic columns from the Customers
SELECT Name,Email FROM Customers;

## Q5. Explain Primary Key and Foreign Key.

1) Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. 
2) Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

1) cursor(): The cursor() method is used to create a cursor object, which is used to execute SQL statements and fetch data from the database. 
2) execute(): The execute() method is used to execute an SQL statement or a parameterized query using the cursor object.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of sql clauses in a sql query is:
1) FROM
2) JOIN
3) WHERE
4) GROUP BY
5) HAVING 
6) SELECT
7) DISTINCT
8) ORDER BY
9) LIMIT