## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

_MongoDB is a document database.It store data in type of JSON.

_Non-relational databases don'use the tabular scheme of row and column but instead , they use specific type of storage that is optimized for specific type of data.

_MongoDb is preferred over SQL databases in a scenario that:
1) you work with unstructured data .It store it in form of document which makes it more flexible and easier to work
2) you work with a large dataset .It allows faster and more efficient querying of data
3) you need to perform complex query that require aggregation, filtering,sorting of large datasets
4) you need to support rapid application development and deployment

## Q2. State and Explain the features of MongoDB

1_ Document-based data model: MongoDB uses a document-based data model, which means that data is stored in flexible, JSON-like documents, rather than in tables with fixed columns and rows. This makes it easier to work with unstructured and semi-structured data.


2_ Scalability: MongoDB is designed to scale horizontally across multiple servers, which means that it can handle large amounts of data and traffic without sacrificing performance.

3_ Flexible schema: Because MongoDB uses a document-based data model, it does not require a fixed schema, which means that you can easily add or remove fields from your documents as your application evolves.

4_ Rich query language: MongoDB provides a rich query language that supports complex queries, including aggregation, filtering, sorting, and geospatial queries.

5_ Indexing: MongoDB supports indexing for fast query performance, including text search and geospatial indexing.

6_ High availability and automatic failover: MongoDB supports replica sets, which provide automatic failover and high availability in the event of a node failure.

7_ Real-time analytics and reporting: MongoDB supports real-time analytics and reporting through its aggregation framework, which allows you to perform complex analytics on large datasets in real-time.

8_ Rapid application development: MongoDB's flexible schema and document-based data model make it easy to develop and deploy applications quickly and efficiently.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [26]:
import pymongo

#creating a new db
client= pymongo.MongoClient("mongodb+srv://username:<password>@cluster0.gpnxoem.mongodb.net/")
db = client["myDb"]

In [27]:
db

Database(MongoClient(host=['ac-xg3cp0f-shard-00-00.gpnxoem.mongodb.net:27017', 'ac-xg3cp0f-shard-00-01.gpnxoem.mongodb.net:27017', 'ac-xg3cp0f-shard-00-02.gpnxoem.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-6l82bg-shard-0', tls=True), 'myDb')

In [4]:
#creating a new collection
coll_0 = db["coll_0"]

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [28]:
# let's import data
import json
with open("response.json","r") as f:
    data=json.load(f)

for i ,j in data.items():
    print(i,":",j)

type : object
required : ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize']
properties : {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}, 'cookies': {'type': 'array', 'items': {'$ref': '#cookie'}}, 'headers': {'type': 'array', 'items': {'$ref': '#record'}}, 'content': {'$ref': '#content'}, 'redirectURL': {'type': 'string'}, 'headersSize': {'type': 'integer'}, 'bodySize': {'type': 'integer'}, 'comment': {'type': 'string'}}

In [34]:
#insert one record
coll_0.insert_one(data)

In [36]:
#insert many records
dts = [
    {
        "required" : ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'],
        "properties" : {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}
    },
    {
        "required" : ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'],
        "properties" : {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}
    },
    {
        "required" : ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'],
        "properties" : {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}
    },{
        "required" : ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'],
        "properties" : {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}
    }
]
coll_0.insert_many(dts)

In [29]:
#find
for i in coll_0.find():
    print(i)

{'_id': ObjectId('64b8f713ebd691d2c8706086'), 'key1': 'value1', 'key2': 'value2'}
{'_id': ObjectId('64b8f89cebd691d2c8706087'), 'type': 'object', 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}, 'cookies': {'type': 'array', 'items': {'$ref': '#cookie'}}, 'headers': {'type': 'array', 'items': {'$ref': '#record'}}, 'content': {'$ref': '#content'}, 'redirectURL': {'type': 'string'}, 'headersSize': {'type': 'integer'}, 'bodySize': {'type': 'integer'}, 'comment': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c8706088'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c8706089'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c870608a'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c870608b'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8fe40ebd691d2c870608c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64b8fe40ebd691d2c870608d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64b8fe40ebd691d2c870608e'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [30]:
#using find_one 
one_query = coll_0.find_one()
print(one_query)

{'_id': ObjectId('64b8f713ebd691d2c8706086'), 'key1': 'value1', 'key2': 'value2'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

To select data from a collection in mongoDB, we can use find. It return all occurences in the selection

In [43]:
#let's add some data to our collection
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]
coll_0.insert_many(list_of_records)

In [31]:
for i in coll_0.find():
    print(i)

{'_id': ObjectId('64b8f713ebd691d2c8706086'), 'key1': 'value1', 'key2': 'value2'}
{'_id': ObjectId('64b8f89cebd691d2c8706087'), 'type': 'object', 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}, 'cookies': {'type': 'array', 'items': {'$ref': '#cookie'}}, 'headers': {'type': 'array', 'items': {'$ref': '#record'}}, 'content': {'$ref': '#content'}, 'redirectURL': {'type': 'string'}, 'headersSize': {'type': 'integer'}, 'bodySize': {'type': 'integer'}, 'comment': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c8706088'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c8706089'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c870608a'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8f98cebd691d2c870608b'), 'required': ['status', 'statusText', 'httpVersion', 'cookies', 'headers', 'content', 'redirectURL', 'headersSize', 'bodySize'], 'properties': {'status': {'type': 'integer'}, 'statusText': {'type': 'string'}, 'httpVersion': {'type': 'string'}}}
{'_id': ObjectId('64b8fe40ebd691d2c870608c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64b8fe40ebd691d2c870608d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64b8fe40ebd691d2c870608e'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

we can also specify the key and value that we want

In [32]:
for i in coll_0.find( {"product":"Affordable AI"} ):
    print(i)

{'_id': ObjectId('64b8fe40ebd691d2c870608c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64b8fe40ebd691d2c870608d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort method sort the result by a key and in ascending direction by default.

In [34]:
# let's create a  new collection and let's add some data inside
coll_1 = db["collection 1"]
data2 = [{'_id': 12, 'name': 'William', 'address': 'Central st 954'},
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'},
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
{'_id': 1, 'name': 'John', 'address': 'Highway37'},
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}]
coll_1.insert_many(data2)

In [35]:
for i in coll_1.find().sort("name"):
    print(i)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [36]:
for i in coll1.find():
    print(i)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [37]:
# delete_one is used to delete one row 
coll1.delete_one({"_id":12})

In [41]:
#row id:12 is empty now
for i in coll1.find({"_id":12}):
    print(i)

In [51]:
# delete_many is used to deletes multiples rows
deletes={"_id": { "$in": [14,10,9,11]}}

coll1.delete_many(deletes)

In [52]:
for i in coll1.find():
    print(i)

{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [53]:
# drop is used to delete an entire collection
coll1.drop()

In [56]:
#there is nothing inside it now
for i in coll1.find():
    print(i)